<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 

<body>
  <%- include('../partials/header') %>
  <main class="container">
  <h2>Reviews</h2>
  <% for (skincare of consumer.ratedSkincares) { %>
      <% for (r of skincare.reviews) { %>
          <% if (r.reviewedBy._id.toString() === consumer._id.toString() && r.content) { %>
              <div id="review-flex">
                  
              <div id="review-rating">
                  <% for(c=10; c>0; c--) { %>
                      <% if (c > r.rating) { %>
                          <p value="<%= c %>"><i class="material-icons left">star</i></p>
                      <% } else { %>
                          <p value="<%= c %>"><i class="material-icons left filled">star</i></p>
                      <% }} %>
                      <p id="rating">
                      <% } %>
                      <% } %>
                      </div>
                      <p id="content"><%= r.content %></p>
                    </div>
          </div>
  <% } %>
   </main>
    <%- include('../partials/footer') %> 
</body>
</html>