<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<main class="container">
    <form action="/skincares" method="POST">
        <div class="input-field">
            <input type="text" name="product" value="<%= skincare.product %>">
            <label>Product</label>
        </div>
        <div class="input-field">
            <input type="text" name="skinType" value="<%= skincare.skinType %>">
            <label>Skin Type</label>
        </div>
        <div class="input-field">
            <input type="text" name="brandName" value="<%= skincare.brandName %>">
            <label>Skincare Brand</label>
        </div>
        <div class="input-field">
            <input type="text" name="ingredients" value="<%= skincare.ingredients %>">
            <label>Ingredients</label>
        </div>
        <div class="input-field">
            <input type="text" name="description" value="<%= skincare.description %>">
            <label>Description</label>
        </div>
        <input class="btn btn-small" type="submit" value="Update Skincare Product">
        
    </form>
    <%- include('../partials/footer') %>
</main>

</html>





   