<!--add skincare product info-->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main class="container">
    <h4>Skincare Product Directory</h4>
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Product</th>
          <th>Skin Type</th>
          <th>Brand Name</th>
          <th>Ingredients</th>
          <th>Description</th>
        </tr>
        <a href="/skincares/new<%= %>">Add New Product</a>
      </thead>
      <tbody>

        <% skincares.forEach(function(skincare, idx) { %>
        <tr>
          <td><%= skincare.product %></td>
          <td><%= skincare.skinType %></td>
          <td><%= skincare.brandName %></td>
          <td><%= skincare.ingredients %></td>
          <td><%= skincare.description %></td>
          <td><a href="/skincares/<%= skincare._id %>/edit">Edit</a</td>
            <form class= "delete-form" action="/skincares/<%= skincare._id %>?_method=DELETE" method="POST">
              <button type="submit">DELETE</button>
          </form>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </main>

  <%- include('../partials/footer') %>

</body>

</html>