<!--add skincare product info-->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main class="container">
    <h1>Select a Skincare Product</h1>
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Skin Type</th>
          <th>Brand Name</th>
          <th>Description</th>
          <th>Review</th>
        </tr>
        <a href="/skincares/new<%= %>">Add New Product</a>
      </thead>
    <tbody>
      <% skincares.forEach(function(skincare) { %>
        <tr>
          <td><%= skincare.skinType %></td>
          <td><%= skincare.brandName %></td>
          <td><%= skincare.description %></td>
          <td><%= skincare.reviewedBy.displayName %></td>
          
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>
<%- include('../partials/footer') %> 

</body>

</html>