<!--add skincare product info-->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main class="container">
    <h3>Skincare Product Directory</h3>
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Skin Type</th>
          <th>Brand Name</th>
          <th>Description</th>
        </tr>
        <a href="/skincares/new<%= %>">Add New Product</a>
      </thead> 
    <tbody>
      
      <% skincares.forEach(function(skincare) { %>
        <tr>
          <td><%= skincare.skinType %></td>
          <td><%= skincare.brandName %></td>
          <td><%= skincare.description %></td>
        </tr>
        
        <% }) %>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger">Delete</button>
  <input type="submit" value="Edit Skincare"> 
 
</main>

<%- include('../partials/footer') %> 

</body>

</html>